body {
  font-family: Arial;
  margin: 0;
  background-color: #DEB887;
  /* background-color: #2e2b2b; */
  padding: 0;
}

header {
  background-color: #FFF8DC;
  /* background: #ad9e9e;
  background: linear-gradient(90deg, rgba(173, 158, 158, 1) 0%, rgba(0, 0, 0, 1) 100%); */
  color: #050505;
  padding: 20px;
  text-align: center;
}


#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  background: #ffffff;
  width: 250px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

.card img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background: #0055c7;
}

#carrito {
  background: #FDF5E6;
  padding: 20px;
  margin: 20px auto;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

#lista-carrito li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
